/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------------------------------ */
/* 額外加入 圖片設定*/
img{
    max-width: 80%;
    height: auto;
}

body{
    background-color: #ffffff;
    background:linear-gradient(rgba(255, 254, 254, 0.986), rgba(255, 239, 239, 0.76)),url(../img/bg/4.jpg);
    background-attachment: fixed;
    background-size: 200%;
    background-position: center;
    
    font-family: "微軟正黑體",arial,cursive;
    color: rgb(63, 63, 63);
    
}
p{
    line-height: 1.5;
}

header{
    margin-bottom: 20px;
}
header a{
    text-align: center;
    text-decoration: none;
    color:   rgb(63, 63, 63);
    font-size: 28px;
    font-weight: 700;
    font-family: cursive;
}
header p {
    background: rgba(251, 242, 242, 0.493);
}

h1 img{
    width: 30%;
}

article{
    background:linear-gradient(rgba(255, 242, 242, 0.959), rgba(241, 170, 170, 0.561)), url(../img/bg/3.jpg);
    background-size: 200%;
    background-position: 20% 20%;
    
    padding: 0px 20px 10px;
    margin: 20px 0px 0px;
}

h2{
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    padding: 20px;
}
.center{
    text-align: center;
}

.serviceList{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.circleMold{
background: rgba(250, 63, 156, 0.671);
padding: 5px;
box-shadow:  1px 1px 5px #a1a1a1;
border-radius: 20px;
color: rgb(255, 255, 255);
font-size: 22px;
font-weight: 700;
}
.circleMold:active{
    background: rgba(247, 65, 156, 0.986);
    color: rgb(255, 255, 255);
}
/* focus沒有效果???? */
/* .circleMold:focus{
    background: rgba(247, 65, 156, 0.986);
    color: rgb(255, 255, 255);
} */

.imgBorder{
border: 10px dotted rgba(250, 63, 156, 0.671);
}

.content{
    margin: 10px 0px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 5px #a1a1a1;
    text-align: center;
}
.none{
    display: none;
}

h3{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;    
}

ul li{
    line-height: 1.5;
    text-align: center;
    margin-bottom: 10px;
}

.about li{
    /* text-align: left; */
    text-align: justify;
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -24px; 
    margin-left: 24px;
    }